<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form method="POST">
  {% csrf_token %}
  <label>Username</label> : <input type="text" name="username"><br>
  <label>first_name</label> : <input type="text"  name="first_name"><br>
  <label>last_name</label> : <input type="text"  name="last_name"><br>
  <label>email</label> : <input type="email"  name="email"><br>
  <label>password</label> : <input type="password"  name="password1"><br>
  <label>Retype password</label> : <input type="password"  name="password2"><br>

  <input type="submit" value="Register">
</form>
{% for message in messages %}
    {% if message.tags == 'error' %}
        <span style="color:red"> {{message}} </span>
    {% else %}
          <span style="color:green"> {{message}} </span>
   {% endif %}
{% endfor %}
</body>
</html>